<template id="itemDraft">
  <div>
    <article class="flex gap-1 bg-white p-3">
      <div data-type="text"
        class="flex-1 cursor-pointer grid grid-cols-3 w-full items-center justify-center justify-items-center">
        <div class="text-sm" data-type="item-name">
        </div>
        <div class="text-sm" data-type="item-quantity">
        </div>
        <div class="flex gap-5 place-self-end">
          <div data-type="trash"></div>
          <div data-type="edit" class="fill-sl-primary"></div>
        </div>
      </div>
    </article>
  </div>
</template>