<template id="itemArchived">
    <div>
        <article class="flex gap-1 bg-white p-3">
            <input type="checkbox" data-type="checkbox" class="cursor-pointer" disabled />
            <label data-type="text" class="flex-1 cursor-pointer flex gap-1 justify-between">
                <div class="text-sm" data-type="item-name">
                </div>
                <div class="text-sm" data-type="item-quantity">
                </div>
            </label>
        </article>
    </div>
</template>