@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "FjallaOne";
  src: url("/fonts/FjallaOne-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

* {
  box-sizing: border-box;
  scrollbar-color: theme("colors.sl.tertiary") theme("colors.sl.bg");
  scrollbar-width: thin;
  outline: none;
}

@layer components {
  .plus-btn {
    @apply rounded-full bg-sl-valid text-white w-10 h-10 text-3xl;
  }
}

body {
  font-family: "FjallaOne", sans-serif;
}

dialog:not([open]) {
  display: none;
}

select {
  @apply bg-sl-bg text-sl-primary rounded-md border border-sl-primary px-2 py-1;
}

input {
  outline: none;
  border-bottom: 1px solid theme("colors.sl.primary");
  padding: 0.3rem;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  position: relative;
  margin-left: 1.3rem;
}

input[type="checkbox"] + label:before {
  content: "";
  position: absolute;
  left: -1.3rem;
  top: 0.1rem;
  border: 1px solid theme("colors.sl.primary");
  border-radius: 0.2rem;
  width: 1rem;
  height: 1rem;
  background: theme("colors.white");
  transition: 200ms ease-in-out;
}

input[type="checkbox"] + label:after {
  content: "";
  position: absolute;
  left: -1.1rem;
  top: calc(50% - 0.25rem);
  border-left: 3px solid theme("colors.white");
  border-bottom: 3px solid theme("colors.white");
  width: 0.6rem;
  height: 0.4rem;
  transform: rotate(-45deg);
  transition: 200ms ease-in-out;
  opacity: 0;
}

input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

input[type="checkbox"]:checked + label:before {
  background: theme("colors.sl.primary");
}

section[finish="true"] input[type="checkbox"]:checked + label:before {
  background: theme("colors.sl.valid");
}

section[finish="true"] input[type="checkbox"] + label:before {
  border-color: theme("colors.sl.valid");
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: theme("colors.sl.bg");
}

::-webkit-scrollbar-thumb {
  background: theme("colors.sl.tertiary");
  transition: 200ms ease-in-out;
}

section[finish="false"] {
  border-color: theme("colors.sl.primary");
}

section[finish="true"] {
  border-color: theme("colors.sl.valid");
}

section[finish="false"] header {
  background: theme("colors.sl.primary");
  color: theme("colors.white");
}

section[finish="true"] header {
  background: theme("colors.sl.valid");
  color: theme("colors.white");
}

section[data-section="ai"] {
  border-color: theme("colors.sl.brain");
}

section[data-section="ai"] header {
  background: theme("colors.sl.brain");
  color: theme("colors.white");
}

[data-disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}
